<div class="footer">
    <div class="upper">
        <div class="set">
            <div class="heading">Support</div>
            <div class="topics">Help Centre</div>
            <div class="topics">Get help with a safety issue</div>
            <div class="topics">AirCover</div>
            <div class="topics">Anti-discrimination</div>
            <div class="topics">Disability support</div>
            <div class="topics">Cancellation options</div>
            <div class="topics">Report neighbourhood concern</div>

        </div>
        <div class="set">
            <div class="heading">Hosting</div>
            <div class="topics">Airbnb your home</div>
            <div class="topics">Airbnb your experience</div>
            <div class="topics">Airbnb your service</div>
            <div class="topics">AirCover for Hosts</div>
            <div class="topics">Hosting resources</div>
            <div class="topics">Community forum</div>
            <div class="topics">Hosting responsibly</div>
            <div class="topics">Join a free hosting class</div>
            <div class="topics">Find a co-host</div>
            <div class="topics">Refer a host</div>

        </div>
        <div class="set">
            <div class="heading">Airbnb</div>
            <div class="topics">2025 Summer Release</div>
            <div class="topics">Newsroom</div>
            <div class="topics">Careers</div>
            <div class="topics">Investors</div>
            <div class="topics">Airbnb.org emergency stays</div>

        </div>
    </div>
    <div class="lower">
        <div class="privacy">
            <div class="statement">&copy; 2026 Airbnb,Inc.</div>
            <div class="statement">· Privacy</div>
            <div class="statement">· Terms</div>
            <div class="statement">· Company details</div>
        </div>
        <div class="links">
            <div class="link">
                <div class="globeIcon"><i class="fa-solid fa-globe"></i></div>
                <div class="eng">English(IN)</div>
            </div>
            <div class="link">&#8377; INR</div>
            <div class="connect">
                <div class="link"><i class="fa-brands fa-facebook"></i></div>
                <div class="link"><i class="fa-brands fa-x-twitter"></i></div>
                <div class="link"><i class="fa-brands fa-instagram"></i></div>
            </div>
        </div>
    </div>
</div>